@import url('./../../Setting/color.less');

menu {
	position: sticky;
	top: 65px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	background-image: url('./../Header/img/theme_background_texture.jpg');

	padding-inline-start: 0;
	margin-block-start: 0em;
	margin-block-end: 0em;

	.menu-event {
		height: 102px !important;

		&:hover {
			height: 227px !important;
		}
	}

	.menu-col {
		display: grid;
		overflow: hidden;
		width: 952px;
		height: 227px;
		transition-duration: 0.4s;

		grid-template-columns: 25% 25% 25% 25%;

		& > div:nth-child(1) {
			.ico {
				background-image: url('./img/menu_ico_0.svg');
			}
		}

		& > div:nth-child(2) {
			.ico {
				background-image: url('./img/menu_ico_1.svg');
				background-size: 40%;
			}
		}

		& > div:nth-child(3) {
			.ico {
				background-image: url('./img/menu_ico_2.svg');
			}
		}

		& > div:nth-child(4) {
			.ico {
				background-image: url('./img/menu_ico_3.svg');
			}
		}

		.menu-container {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;
			box-sizing: border-box;
			padding: 20px;
			width: 100%;
			height: 100%;
			text-align: center;

			user-select: none;

			.ico {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: @ogilvy_black;
				background-position: center;
				background-repeat: no-repeat;
			}

			.title {
				margin: 5px 0;
				width: 100%;
				color: #111;
				font-weight: bold;
				font-size: 1rem;
			}

			.list {
				margin: 5px 0 5px;
				width: 100%;
				color: @ogilvy_black;
				font-size: 0.9rem;

				& > div {
					margin: 5px 0;
					outline: none;

					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 750px) {
	menu {
		top: 130px;
	}
}
